params {
    run_csv = "resources/run_2.csv"
    publish_dir = "output"
}
process {
    withName:neural_stylization {
        container = 'nextflowazuredemo.azurecr.io/nextflow_azure_demo/neural-style:latest'
    }
    withName:create_composition {
        container = 'nextflowazuredemo.azurecr.io/nextflow_azure_demo/composition-app:latest'
    }
}
docker {
    enabled = true
}