params {
    run_csv = "resources/run_2.csv"
    publish_dir = "output"
}
process {
    withName:neural_stylization {
        container = 'nextflowazuredemoregistry.azurecr.io/neural-style:0.0.1'
    }
    withName:create_composition {
        container = 'nextflowazuredemoregistry.azurecr.io/nextflow_azure_demo/composition_app:0.0.2'
    }
}
docker {
    enabled = true
}